@font-face {
	font-family:Museo500;
	src: url("/fonts/Museo500-Regular.otf") format("opentype")
}
html, body { 
	width: 100%;
	margin:0;
	font-family:Arial;
	overflow:hidden;
}

.logo {
	background-color:black;
	color:white;
	height:35px;
	font-family:Museo500;
	font-size:16pt;
	width:250px;
	float:left;
	text-align:center;
	padding:5px;
}

div#container {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}

#ticker {
	font-size:12px;
}

#header {
	width:100%;
	height:40px;
	background:grey;
}

button {
	height:34px;
	font-size:12px;
}

iframe {
	border:10px;
	width:100%;
	height:100%;
}

#frame {
	position:fixed;
	top:35px;
	bottom:0px;
	right:0px;
	left:0px;
}

#overlay {
	position:absolute;
	left:0;
	top:35px;
	background:#000;	
}
